<div class="odkazy">
    <h1><%= __('links.title') %>:</h1>
    <ul>
        <li><%- link_to('http://www.sokolov-pronajem.cz', __('links.links.link1'), {external: true}) %></li>
        <li><%- link_to('http://www.olovi.cz', __('links.links.link2'), {external: true}) %></li>
        <li><%- link_to('http://www.sokolov.cz', __('links.links.link3'), {external: true}) %></li>
        <li><%- link_to('http://www.karlovyvary.cz', __('links.links.link4'), {external: true}) %></li>
    </ul>
</div>
